---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Compliance" id="compliance">
  <div class="w-full max-w-6xl space-y-2">
    <div class="relative px-6 pb-4 pt-8">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
        <div class="w-full border border-gray-300 rounded-lg p-6 flex flex-col justify-start items-start">
        </div>
        <div class="w-full border border-gray-300 rounded-lg p-6 flex flex-col justify-start items-start">
        </div>
        <div class="w-full h-52 border border-gray-300 rounded-lg p-6 flex flex-col justify-start items-start">
        </div>
      </div>
    </div>
    <!-- <p class="text-right text-sm">
      <a class="text-primary" href={url}> ...and more &rarr;</a>
    </p> -->
  </div>
  <!-- <WhoWeAreList
    items={platforms}
    title="Expert Leadership Team"
  /> -->
</ContentSection>
