---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "MetaAI",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "OpenAI",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Mistral",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Mosaic",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Anthropic",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Google",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Solutions" id="compatibility">
  <Fragment slot="lead">
    Chat.dev <span class="text-primary">plays nice</span>. Bring your own{" "}
    <span class="text-primary">data</span>
    and fine-tune your favorite <span class="text-primary">foundational model</span> to work perfectly for <span class="text-primary">your use case</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
