---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Bring Your Own Data",
    description:
      "Build your chatbots using data that your organization already has. ",
    icon: "mdi:data-matrix",
  },
  {
    title: "100% Collaborative",
    description:
      "Work together to ensure your chatbots meet all your org's requirements.",
    icon: "mdi:handshake",
  },
  {
    title: "Private & Secure",
    description:
      "Chat.dev meets all your security and privacy needs. Deploy on-prem, if needed.",
    icon: "mdi:security",
  },
  {
    title: "Free Forever",
    description:
      "Never pay to build in public. If it's free for you, it's free for everyone.",
    icon: "mdi:heart",
  },
  {
    title: "Lightning-Fast",
    description:
      "Build fast. Iterate fast. Ship fast.",
    icon: "mdi:lightning-bolt",
  },
  {
    title: "Open-Source Heritage",
    description:
      "Chat.dev is an open source project powered by contributors around the world.",
    icon: "mdi:globe",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Chat.dev comes <span class="text-primary">batteries included</span>. It lets you
    train
    <span class="text-primary">state-of-the-art</span>
    LLM models by injecting your own <span class="text-primary">datasets</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
