---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Pricing" id="pricing">
  <div class="w-full max-w-6xl space-y-2">
    <div class="relative px-6 pb-4 pt-8">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
        <div class="w-full border border-gray-300 rounded-lg p-6 flex flex-col justify-start items-start gap-4">
          <div class="border border-fuchsia-500 rounded-full px-4 py-2">
            <p class="text-sm font-light">Free Tier</p>
          </div>
          <p class="font-bold">FREE</p>
          <ul class="list-disc px-4 text-sm text-gray-600">
            <li>Create public datasets </li>
            <li>Fine-tune public models.</li>
            <li>Download any other model or dataset.</li>
          </ul>
          <button class="rounded-full bg-gradient-to-br from-[#A861FD]  to-[#1FFEB4] text-white px-6 py-2 text-sm">
            <a href="https://chat.dev/">Get Started Now!</a>
          </button>
        </div>
        <div class="w-full border border-gray-300 rounded-lg p-6 flex flex-col justify-start items-start gap-4">
          <div class="border border-fuchsia-500 rounded-full px-4 py-2">
            <p class="text-sm font-light">Pro-Tier</p>
          </div>
          <p class="font-bold">$500/Month</p>
          <ul class="list-disc px-4 text-sm text-gray-600">
            <li>Unlimited private datasets</li>
            <li>Private model program</li>
            <li>$400 worth of fine-tuning credits for you.</li>
          </ul>
          <button class="rounded-full bg-gradient-to-br from-[#A861FD]  to-[#1FFEB4] text-white px-6 py-2 text-sm">
            <a href="https://chat.dev/">Get Started Now!</a>
          </button>
        </div>
        <div class="w-full border border-gray-300 rounded-lg p-6 flex flex-col justify-start items-start gap-4">
          <div class="border border-fuchsia-500 rounded-full px-4 py-2">
            <p class="text-sm font-light">Enterprise</p>
          </div>
          <p class="font-bold">Contact Us</p>
          <ul class="list-disc px-4 text-sm text-gray-600">
            <li>On-Prem Deployment</li>
            <li>Team Management</li>
            <li>Limited Design- partnerships available.</li>
          </ul>
          <button class="rounded-full bg-gradient-to-br from-[#A861FD]  to-[#1FFEB4] text-white px-6 py-2 text-sm">
            <a href="https://hqmelywdmux.typeform.com/to/Igbg4n9V" target="_blank">Get Started Now!</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</ContentSection>
