---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Pricing" id="pricing">
  <div class="w-full max-w-6xl space-y-2">
    <div class="relative px-6 pb-4 pt-8">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
        <div
          class="flex w-full flex-col items-start justify-start gap-4 rounded-lg border border-gray-300 p-6"
        >
          <div class="rounded-full border border-fuchsia-500 px-4 py-2">
            <p class="font-light text-sm">Free Tier</p>
          </div>
          <p class="font-bold">FREE</p>
          <ul class="list-disc px-4 text-sm">
            <li>Create public datasets</li>
            <li>Fine-tune public models.</li>
            <li>Download any other model or dataset.</li>
          </ul>
          <a
            href="https://chat.dev/"
            target="_blank"
            class="flex items-center justify-center gap-3 border-2 border-current px-2 py-2"
          >
            <span>Get Started Now!</span>
          </a>
        </div>
        <div
          class="flex w-full flex-col items-start justify-start gap-4 rounded-lg border border-gray-300 p-6"
        >
          <div class="rounded-full border border-fuchsia-500 px-4 py-2">
            <p class="font-light text-sm">Pro-Tier</p>
          </div>
          <p class="font-bold">$500/Month</p>
          <ul class="list-disc px-4 text-sm">
            <li>Unlimited private datasets</li>
            <li>Private model program</li>
            <li>$400 worth of fine-tuning credits for you.</li>
          </ul>
          <a
            href="https://chat.dev/"
            target="_blank"
            class="flex items-center justify-center gap-3 border-2 border-current px-2 py-2"
          >
            <span>Get Started Now!</span>
          </a>
        </div>
        <div
          class="flex w-full flex-col items-start justify-start gap-4 rounded-lg border border-gray-300 p-6"
        >
          <div class="rounded-full border border-fuchsia-500 px-4 py-2">
            <p class="font-light text-sm">Enterprise</p>
          </div>
          <p class="font-bold">Contact Us</p>
          <ul class="list-disc px-4 text-sm">
            <li>On-Prem Deployment</li>
            <li>Team Management</li>
            <li>Limited Design- partnerships available.</li>
          </ul>
          <a
            href="https://hqmelywdmux.typeform.com/to/Igbg4n9V"
            target="_blank"
            class="flex items-center justify-center gap-3 border-2 border-current px-2 py-2"
          >
            <span>Get Started Now!</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</ContentSection>
